div.gl{
    background-color: rebeccapurple;
    color: white;
    max-inline-size: 650px;
}
div.go{
    background-color: darkred;
    max-inline-size: 550px;
    margin-left: 55px;
}
body{
    font-size: 5ex;
    background-color: blue;
}